[Unit]
Description=cec-dpms for CEC adapter %f
Documentation=https://github.com/manio/cec-dpms
After=local-fs.target
BindsTo=%i.device

[Service]
Type=notify
NotifyAccess=main
TimeoutStopSec=20
Restart=always
ExecStart=/usr/bin/cec-dpms --input %f

[Install]
WantedBy=multi-user.target
